<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Share Photos App</title>

    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .photo {
             max-width: 800px;
        }
        .author {
            font-weight: bold;
        }
        .like {
            font-size: 24px;
            color: red;
        }
        .nolike {
            font-size: 24px;
            color: grey;
        }
        .caption {
            font-size: 28px;
        }
    </style>

    <!--
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    -->
    <script src="/static/js/sockjs-0.3.min.js"></script>
    <script src="/static/js/knockout-3.1.0.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>

    <script type="text/html" id="photo-template">
        <img class="photo" data-bind="attr: {src: photo_url}">
        <div class="caption">
            author: <span class="author" data-bind="text: username"></span>
            likes: <span data-bind="text: likes_count"></span>
            <span data-bind="visible: $root.current_user, click: toggle_like">
                <span class="glyphicon glyphicon-heart-empty nolike" data-bind="visible: !liked()"></span>
                <span class="glyphicon glyphicon-heart like" data-bind="visible: liked"></span>
            </span>
        </div>
        <hr>
    </script>

    <script type="text/javascript">
        var current_user, page_owner;
        {% if current_user %}
            current_user = '{{ current_user }}';
        {% else %}
            current_user = null;
        {% endif %}
        {% if page_owner %}
            page_owner = '{{ page_owner }}';
        {% else %}
            page_owner = null;
        {% endif %}

        var model;

        sock = new SockJS('http://localhost:{{ TORNADO_PORT }}/ws');

        sock.onopen = function () {
            console.log('on open');
            sock.send(
                JSON.stringify({
                    message_name: 'get_last_photos',
                    data: {current_user: current_user, page_owner: page_owner}
                })
            )
        };

        sock.onmessage = function (e) {
            console.log('on message', e.data);
            var data = e.data, value, photo;
            if (data.event === 'photo_list') {
                $.each(data.data, function(i, value) {
                    photo = new Photo(value.id, value.photo_url, value.username, value.likes_count, value.liked);
                    model.photos.push(photo);
                    model.photos_dict[value.id] = photo;
                })
            } else if (data.event === 'new_photo') {
                value = data.data;
                if (!page_owner || page_owner === value.username) {
                    photo = new Photo(value.id, value.photo_url, value.username, value.likes_count, value.liked);
                    model.photos.unshift(photo);
                    model.photos_dict[value.id] = photo;
                }
            } else if (data.event === 'like' || data.event === 'unlike') {
                    value = data.data;
                    photo = model.photos_dict[value.photo_id];
                    if (data.event === 'like') {
                        photo.likes_count(photo.likes_count() + 1);
                        if (model.current_user === value.username) {
                            photo.liked(true);
                        }
                    } else {
                        photo.likes_count(photo.likes_count() - 1);
                        if (model.current_user === value.username) {
                            photo.liked(false);
                        }
                    }
                }
        };

        sock.onclose = function () {
            console.log('on close');
        };

        function Photo(id, photo_url, username, likes_count, liked) {
            var self = this;
            this.id = id;
            this.photo_url = photo_url;
            this.username = username;
            this.likes_count = ko.observable(likes_count);
            this.liked = ko.observable(liked);
            this.toggle_like = function() {
                $.post('/like', {photo_id: self.id, username: current_user})
            }
        }

        function Model() {
            this.photos = ko.observableArray([]);
            this.photos_dict = {};
            this.current_user = current_user;
        }

        $().ready(function() {
                model = new Model();
                ko.applyBindings(model);
            }
        )
    </script>
</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                {% if current_user %}
                    <li><a href="/user/{{ current_user }}">{{ current_user }}</a></li>
                    <li><a href="/">Explore</a></li>
                    <li><a href="/upload">Upload</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                {% endif %}
            </ul>
            <h3 class="text-muted">Share Photos App</h3>
            {% if page_owner%}
                {% if page_owner == current_user %}
                    <h3>My photos</h3>
                {% else %}
                    <h3>Photos of {{ page_owner }}</h3>
                {% endif %}
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <p>#pyconru 2014</p>
        </div>
    </div>

</body>
</html>
